@charset "UTF-8";
/**
 * Created by Eunjin Yang on 2020. 11. 21.
 * Github : http://github.com/jinnny
 */
@import url(vendors/swiper.css);
@import url(vendors/aos.css);
@import url(vendors/jquery-ui.css);
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url("../fonts/NotoSansKR-Thin.eot");
  src: url("../fonts/NotoSansKR-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.eot");
  src: url("../fonts/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}
/*normal*/
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: url("../fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Medium.eot");
  src: url("../fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
/*bold*/
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: url("../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 800;
  src: url("../fonts/NotoSansKR-Black.eot");
  src: url("../fonts/NotoSansKR-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype");
}
/*normal 400*/
@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: 400;
  src: url("../fonts/NanumMyeongjo.eot");
  src: url("../fonts/NanumMyeongjo.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumMyeongjo.woff2") format("woff2"), url("../fonts/NanumMyeongjo.woff") format("woff"), url("../fonts/NanumMyeongjo.ttf") format("truetype");
}
/*bold 700*/
@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: 700;
  src: url("../fonts/NanumMyeongjoBold.eot");
  src: url("../fonts/NanumMyeongjoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumMyeongjoBold.woff2") format("woff2"), url("../fonts/NanumMyeongjoBold.woff") format("woff"), url("../fonts/NanumMyeongjoBold.ttf") format("truetype");
}
@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: 800;
  src: url("../fonts/NanumMyeongjoExtraBold.eot");
  src: url("../fonts/NanumMyeongjoExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NanumMyeongjoExtraBold.woff2") format("woff2"), url("../fonts/NanumMyeongjoExtraBold.woff") format("woff"), url("../fonts/NanumMyeongjoExtraBold.ttf") format("truetype");
}
/**
 * Created by Eunjin Yang on 2019. 3. 18.
 * Github : https://github.com/jinnny
 */
/**
 * Created by Eunjin Yang on 2020. 12. 2.
 * Github : http://github.com/jinnny
 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, body {
  font-family: "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
@media all and (max-width: 910px) {
  html {
    font-size: 14px;
  }
}

a,
a:hover,
a:focus,
a:active,
a:link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

strong,
b {
  color: inherit;
  font-size: inherit;
}

i,
em {
  font-style: normal;
}

mark {
  color: inherit;
  background: none;
}

button {
  -webkit-appearance: none;
}

input,
input:matches([type="password"], [type="search"]),
input[type=text],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border-collapse: collapse;
}

/**
 * Created by Eunjin Yang on 2020. 11. 21
 * Github : https://github.com/jinnny
 */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1004;
  height: 100px;
  padding: 0 2.5rem;
  background: #093354;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header:after {
  opacity: 0;
  content: '';
  width: 100%;
  height: 0;
  background: #817873;
  position: absolute;
  top: 112px;
  left: 0;
  transition-property: opacity, height;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}
.header.is--show-depth:after {
  opacity: 1;
  height: 134px;
}
.header.is--static {
  position: static;
  background: #817873;
}
@media screen and (min-width: 992px) {
  .header.is--static .header-menu-item:not(.is--active) {
    color: #ffffff;
  }
  .header.is--static .header-menu-item:hover {
    color: #b3a181;
  }
}
.header-logo {
  margin-right: 1.5rem;
  margin-top: 1.937rem;
  float: left;
}
.header-logo__text {
  width: 210px;
  height: 38px;
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  background-image: url("../images/common/logo.png");
}
@media screen and (max-width: 990px) {
  .header-logo {
    margin-top: 22px;
    width: 33%;
    position: absolute;
    left: calc(50% - 16.5%);
    margin-right: 0;
  }
  .header-logo__text {
    width: 100%;
    height: auto;
  }
}
.header-tel {
  margin-top: 2.315rem;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .header-tel {
    width: 180px;
  }
}
@media screen and (max-width: 990px) {
  .header-tel {
    float: right;
    /* margin-top: 13px; */
    width: 58px;
    padding: 21px 20px 0;
    box-sizing: border-box;
    height: 100%;
    margin-top: 0;
  }
}
.header-menu {
  position: absolute;
  right: 35px;
  top: 0;
  -webkit-transition: all 1s ease .1s;
  -moz-transition: all 1s ease .1s;
  -o-transition: all 1s ease .1s;
  transition: all 1s ease .1s;
}
@media screen and (max-width: 990px) {
  .header-menu {
    width: 80%;
    right: auto;
    left: -100%;
    top: 68px;
  }
  .header-menu:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: #111;
    top: 0;
    left: 0;
    opacity: 0.8;
    display: none;
    z-index: 1;
  }
}
.header-menu--other {
  padding: 2.2rem 1.8rem 2.2rem 7rem;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .header-menu--other {
    padding: 2.2rem 1.8rem 2.2rem;
  }
}
@media screen and (max-width: 1200px) {
  .header-menu--other {
    padding: 2.2rem 1.2rem 2.2rem;
  }
}
@media screen and (max-width: 990px) {
  .header-menu--other {
    display: none;
  }
}
.header-menu-item {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-menu-item__link {
  display: block;
  padding: 2.36rem 1.8rem;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .header-menu-item__link {
    padding: 2.36rem 1.2rem;
  }
}
.header-menu-item__link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #b3a181;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.5s ease .1s;
  -moz-transition: all 0.5s ease .1s;
  -o-transition: all 0.5s ease .1s;
  transition: all 0.5s ease .1s;
}
.header-menu-item.is--open .header-menu-depth-icon:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media screen and (min-width: 992px) {
  .header-menu-item {
    color: #b3a181;
  }
  .header-menu-item:hover .header-menu-item__link, .header-menu-item.is--active .header-menu-item__link {
    color: #b3a181;
  }
  .header-menu-item:hover .header-menu-item__link:after, .header-menu-item.is--active .header-menu-item__link:after {
    width: 100%;
  }
  .header-menu-item:hover .header-menu-list--depth {
    height: 135px;
    opacity: 1;
  }
  .header-menu-item:hover .header-menu-list--depth .menu-depth-item__link {
    opacity: 1;
    height: auto;
    font-size: 1rem;
    padding: .7rem 0;
  }
}
@media screen and (max-width: 990px) {
  .header-menu-item {
    padding: 0;
    width: 100%;
    border-top: 1px solid #eee3d9;
    color: #b3a181;
  }
  .header-menu-item:first-child {
    border-top: 0;
  }
  .header-menu-item__link {
    font-size: 1.2rem;
    padding: 1.3rem 1.5rem;
  }
}
.header-menu-list::after {
  content: '';
  display: block;
  clear: both;
}
.header-menu-list--depth {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .header-menu-list--depth {
    position: absolute;
    top: 112px;
    left: 0;
    z-index: 111;
    height: 0;
    opacity: 0;
    transition-property: opacity, height;
    transition-timing-function: ease-in-out;
    transition-duration: .8s;
  }
}
@media screen and (max-width: 990px) {
  .header-menu-list--depth {
    display: none;
    float: left;
  }
  .header-menu-list--depth::after {
    content: '';
    display: block;
    clear: both;
  }
}
@media screen and (max-width: 990px) {
  .header-menu-list--depth .menu-depth-item:last-child .menu-depth-item__link {
    padding: 1rem 2rem 1.5rem;
  }
}
.header-menu-list--depth .menu-depth-item__link {
  display: block;
  padding: .85rem 0;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .header-menu-list--depth .menu-depth-item__link {
    color: #ffffff;
    text-align: center;
    position: relative;
    z-index: 11;
    font-size: 0;
    opacity: 0;
    height: 0;
    padding: 0;
    transition-property: opacity, height;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
  }
  .header-menu-list--depth .menu-depth-item__link:hover {
    color: #b3a181;
  }
}
@media screen and (max-width: 990px) {
  .header-menu-list--depth .menu-depth-item__link {
    padding: 1rem 2rem 1rem;
  }
}
.header-menu-depth-icon {
  display: none;
}
@media screen and (max-width: 990px) {
  .header-menu-depth-icon {
    position: absolute;
    right: 5px;
    top: 0;
    display: block;
    width: 34px;
    height: 100%;
    text-indent: -9999px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header-menu-depth-icon:before, .header-menu-depth-icon:after {
    width: 50%;
    height: 2px;
    left: 25%;
    background: #b3a181;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .header-menu-depth-icon:before {
    top: calc(50% - 1px);
  }
  .header-menu-depth-icon:after {
    top: calc(50% - 1px);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(90deg);
  }
}
.header-menu-button--mobile {
  display: none;
  position: relative;
  float: left;
  height: 100%;
  width: 68px;
  z-index: 22;
  background: #9f947b;
}
@media screen and (max-width: 991px) {
  .header-menu-button--mobile {
    display: block;
  }
}
.header-menu-button--mobile .menu-button__line {
  width: 27px;
  height: 2px;
  margin: 20px auto 0;
  background: #093354;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header-menu-button--mobile .menu-button__line:before, .header-menu-button--mobile .menu-button__line:after {
  width: 27px;
  height: 2px;
  background: inherit;
  display: block;
  -webkit-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
  content: "";
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.header-menu-button--mobile .menu-button__line:before {
  top: 23px;
}
.header-menu-button--mobile .menu-button__line:after {
  top: 33px;
}
@media screen and (max-width: 990px) {
  .header {
    height: 68px;
    padding: 0;
  }
  .header:after {
    top: 68px;
  }
  .header .header-menu-list {
    display: none;
  }
  .header.is--open .header-menu {
    left: 0;
  }
  .header.is--open .header-menu-list {
    display: block;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .header.is--open .header-menu:before {
    display: block;
  }
  .header.is--open .menu-button__line {
    background-color: transparent;
  }
  .header.is--open .menu-button__line:before, .header.is--open .menu-button__line:after {
    background-color: #093354;
    margin: 0;
    top: 33px;
  }
  .header.is--open .menu-button__line:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .header.is--open .menu-button__line:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
.header .header-link--mobile-area {
  position: absolute;
  right: 5rem;
  top: 23px;
  width: 34%;
}
.header .header-link--mobile-area .header-link--mobile {
  display: inline-block;
  float: left;
  max-width: 102px;
  margin-right: 4px;
  width: calc(50% - 4px);
}

.footer {
  background: #262626;
  text-align: center;
  padding: 2rem 1rem;
}
@media screen and (max-width: 990px) {
  .footer {
    padding-bottom: 0;
  }
}
.footer__text {
  color: #8c8b89;
  font-size: 0.81rem;
}
.footer__text--small {
  margin-top: 5px;
  font-size: 0.68rem;
}
@media screen and (max-width: 990px) {
  .footer__text {
    font-size: 11px;
  }
  .footer__text--small {
    font-size: 10px;
  }
}
.footer .footer-menu-link-area {
  margin-top: 1.5rem;
  width: calc(100% + 2rem);
  margin-left: -1rem;
}
.footer .footer-menu-link-area::after {
  content: '';
  display: block;
  clear: both;
}
.footer .footer-menu-link-area .footer-menu__link {
  width: 50%;
  float: left;
  display: block;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: -1.58px;
  height: 11.66vw;
  font-size: 1.2rem;
  background: #093354;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-menu-link-area .footer-menu__link b {
  font-weight: 500;
}

html {
  -webkit-font-smoothing: antialiased;
}

.layout {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.layout::after {
  content: '';
  display: block;
  clear: both;
}
.layout.is--content-center {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 990px) {
  .layout {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
}

@media screen and (min-width: 991px) {
  .is--mobile {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {
  .is--pc {
    display: none !important;
  }
}

body {
  overflow-x: hidden;
}

.main {
  margin-top: 100px;
}
@media screen and (max-width: 990px) {
  .main {
    margin-top: 68px;
  }
}

.main-section1::after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (min-width: 991px) {
  .main-section1 {
    height: calc(100vh - 100px);
  }
}

.main-visual {
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 991px) {
  .main-visual {
    width: calc(100% - 422px);
  }
}
@media screen and (max-width: 990px) {
  .main-visual {
    height: calc(100vh - 68px);
    width: 100%;
  }
}
.main-visual__text {
  position: absolute;
  top: 24%;
  right: 36px;
}
@media screen and (max-width: 1700px) {
  .main-visual__text {
    width: 29.53%;
  }
}
@media screen and (max-width: 990px) {
  .main-visual__text {
    width: 80%;
    max-width: 400px;
    left: 10%;
    top: 10%;
    right: auto;
  }
}

.main-visual-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: transform 3s ease;
  -moz-transition: transform 3s ease;
  -o-transition: transform 3s ease;
  transition: transform 3s ease;
  -webkit-transform: scale(1.2, 1.2) rotate(0.002deg);
  transform: scale(1.2, 1.2) rotate(0.002deg);
  background-image: url("../images/main/main-visual-img.png");
}
@media screen and (max-width: 990px) {
  .main-visual-img {
    background-image: url("../images/main/main-visual-img-mobile.png");
  }
}
.main-visual-img.aos-animate {
  -webkit-transform: scale(1, 1) rotate(0.002deg);
  transform: scale(1, 1) rotate(0.002deg);
}

.main-right-content {
  background: #f7f7f7;
  width: 422px;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 990px) {
  .main-right-content {
    width: 100%;
    padding-top: 14%;
  }
}
.main-right-content .main-right__text {
  font-family: "NanumMyeongjo", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #80745c;
  font-size: 2.4375rem;
  letter-spacing: -2.93px;
  text-align: center;
  line-height: 1.41;
}
.main-right-content .main-right__text-sub {
  line-height: 1.79;
  letter-spacing: -0.36px;
  text-align: center;
  color: #717171;
  margin: 2rem 0 4.43rem;
}
@media screen and (max-width: 990px) {
  .main-right-content .main-right__text-sub {
    margin: 2rem 0 2.4rem;
  }
}
@media screen and (min-width: 991px) {
  .main-right-content .main-right__text-sub {
    font-size: 0.9rem;
  }
}
.main-right-content .main-right__text-strong {
  font-weight: 800;
  font-family: inherit;
  color: #0b193e;
}
.main-right-content .main-swiper-container {
  width: 100%;
  text-align: center;
  height: calc(187px + 50px);
  margin-bottom: 4rem;
}
@media screen and (max-width: 990px) {
  .main-right-content .main-swiper-container {
    margin-top: 4rem;
  }
}
.main-right-content .main-swiper-container .swiper-pagination-bullet-active {
  background: #093354;
}

@media screen and (min-width: 991px) {
  .main-section-premium {
    height: 490px;
    display: flex;
  }
}
@media screen and (max-width: 990px) {
  .main-section-premium {
    background: url("../images/main/main-premium-bg.jpg") repeat 0 0;
  }
}
.main-section-premium .swiper-custom-button-area {
  margin-top: 2rem;
}
@media screen and (max-width: 990px) {
  .main-section-premium .swiper-custom-button-area {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
.main-section-premium .swiper-custom-button-area .swiper-custom-button {
  padding: 10px;
}
@media screen and (max-width: 990px) {
  .main-section-premium .swiper-custom-button-area .swiper-custom-button {
    padding: 10px 20px;
    width: 60px;
    box-sizing: border-box;
  }
}

.premium-left-content {
  padding-top: 15%;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  background-size: cover;
}
@media screen and (min-width: 991px) {
  .premium-left-content {
    padding-right: 3rem;
    padding-top: 1rem;
    width: 38.75%;
    background: url("../images/main/main-premium-bg.jpg") no-repeat 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
  }
}
.premium-left-content .premium__title-img {
  width: 62%;
  max-width: 448px;
}

.premium-swiper-container {
  margin: 0;
  border-right: 1px solid #dddddd;
}
@media screen and (min-width: 991px) {
  .premium-swiper-container {
    width: 51.25%;
  }
}
.premium-swiper-container .swiper-slide {
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
}
.premium-swiper-container .swiper-slide:after {
  content: '';
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  bottom: 0;
  background: #dddddd;
}
.premium-swiper-container-mobile {
  margin-top: 10%;
  padding-left: 5.2%;
}

.main-section-location {
  background-repeat: no-repeat;
  background-image: url("../images/main/main-location-bg.jpg");
  background-size: cover;
  padding-bottom: 11%;
}
@media screen and (min-width: 991px) {
  .main-section-location {
    padding-bottom: 0;
    height: 857px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .main-section-location {
    background-image: url("../images/main/main-location-bg-mobile.png");
  }
}
.main-section-location .location-text-content {
  color: #ffffff;
}
.main-section-location .location-text-content .location__text {
  margin: 5rem 0 2.4rem;
  font-size: 4.75rem;
  line-height: 1.42;
  letter-spacing: -5.74px;
  font-family: "NanumMyeongjo", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.main-section-location .location-text-content .location__text b {
  font-family: inherit;
}
.main-section-location .location-text-content .location__text-sub {
  letter-spacing: -0.98px;
  font-size: 1.18rem;
}
@media screen and (max-width: 990px) {
  .main-section-location .location-text-content {
    padding: 15% 1rem 7%;
    text-align: center;
  }
  .main-section-location .location-text-content .main-location__title {
    width: 25%;
    max-width: 186px;
  }
  .main-section-location .location-text-content .location__text {
    margin: .6rem 0 1rem;
    font-size: 3rem;
    letter-spacing: -3.74px;
  }
  .main-section-location .location-text-content .location__text-sub {
    letter-spacing: -0.98px;
    font-size: 0.88rem;
  }
}
.main-section-location .location-swiper-container {
  width: 45.4%;
  margin-right: 0;
  margin-left: 9%;
}
@media screen and (max-width: 990px) {
  .main-section-location .location-swiper-container {
    width: 100%;
    padding: 0 5%;
    margin: 0;
    box-sizing: border-box;
  }
}
.main-section-location .location-swiper-container .swiper-button-area {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 11;
  display: flex;
}
@media screen and (max-width: 990px) {
  .main-section-location .location-swiper-container .swiper-button-area {
    bottom: 50%;
    left: 0;
    width: 100%;
  }
}
.main-section-location .location-swiper-container .swiper-button-next, .main-section-location .location-swiper-container .swiper-button-prev {
  width: 40px;
  height: 40px;
  position: static;
  margin: 0;
  background-size: contain;
}
@media screen and (max-width: 990px) {
  .main-section-location .location-swiper-container .swiper-button-next, .main-section-location .location-swiper-container .swiper-button-prev {
    position: absolute;
    margin: -20px 0 0;
  }
}
.main-section-location .location-swiper-container .swiper-button-next {
  background-image: url("../images/main/main-location-next.png");
  margin-left: 7px;
}
@media screen and (max-width: 990px) {
  .main-section-location .location-swiper-container .swiper-button-next {
    background-image: url("../images/main/main-location-next-mobile.png");
    margin-left: 0;
    right: 0;
  }
}
.main-section-location .location-swiper-container .swiper-button-prev {
  background-image: url("../images/main/main-location-prev.png");
}
@media screen and (max-width: 990px) {
  .main-section-location .location-swiper-container .swiper-button-prev {
    left: 0;
    background-image: url("../images/main/main-location-prev-mobile.png");
  }
}

.main-section-map {
  padding: 6.625rem 0 8rem;
  background: #e6e6e6;
  text-align: center;
}
@media screen and (max-width: 990px) {
  .main-section-map {
    padding: 4rem 0 6rem;
  }
}
.main-section-map .main-map-header .main-map__title {
  font-family: "NanumMyeongjo", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  line-height: 1.41;
  letter-spacing: -2.93px;
  color: #003056;
}
.main-section-map .main-map-header .main-map__title-sub {
  color: #003056;
  font-size: 1.3125rem;
  letter-spacing: -1.08px;
  font-weight: 300;
  margin-top: 1.25rem;
  margin-bottom: 4rem;
}
.main-section-map .main-map-header .main-map__title-sub-bold {
  font-weight: 500;
}
.main-section-map .main-map-header .main-map__title-bold {
  font-weight: 800;
  font-family: inherit;
}
.main-section-map .main-map-header .main-map__title-bold.color--gold {
  color: #80745c;
}
@media screen and (max-width: 990px) {
  .main-section-map .main-map-header .main-map__title {
    font-size: 2.2rem;
  }
  .main-section-map .main-map-header .main-map__title-sub {
    font-size: 1rem;
    margin-top: .2rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 991px) {
  .main-section-map .main-map-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 990px) {
  .main-section-map .main-map-content {
    padding: 0 5%;
  }
}
@media screen and (max-width: 990px) {
  .main-section-map .main-map-content-text {
    margin-top: 8%;
  }
}
@media screen and (min-width: 991px) {
  .main-section-map .main-map-content-text {
    margin-left: 3.625rem;
  }
}
